.heading{
    text-align: left;
}

.cardContainer {
    height: 375px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}


/* .postContainer {
    align-items: center;
    height: 450px;
    width: 650px;
    background-size: cover;
} */