.name{
    line-height: 0.5;
    font-size: 30px;
    text-transform:uppercase;
}


.email {
    font-size: 20px;
    line-height: 55px;
}


.btn {
    background-color: #54aeff;
}

.btn:hover {
    background-color: #0969da; 
}