.name{
    line-height: 0.5;
    font-size: 30px;
    text-transform:uppercase;
}


.email {
    font-size: 20px;
}


.btn {
    background-color: #54aeff;
    /* color: yellow!important; */
}

.btn:hover {
    background-color: #0969da; 
}

.navigate {
    text-decoration: none;
    color: white;
}
.navigate:hover {
    text-decoration: none;
    color: white;
}